html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: rgb(1, 22, 51);
}


/*部в[_始*/

#navTop {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    padding: 5px 0 5px 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(7, 1, 51);
    z-index: 9;
}

.navTopAbs {
    position: absolute;
    top: 100vh;
}

.navTopFixed {
    position: fixed;
    top: 0;
}

#navTop .navHome {
    font-size: 3rem;
    display: inline-block;
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
}

.navTopList {
    position: absolute;
    right: 10%;
    top: 0;
}

.navTopList ul {
    list-style: none;
}

.navTopList ul li {
    float: left;
}

#navTop a {
    text-decoration: none;
    display: block;
    padding: 20px 15px;
    text-shadow: rgba(200, 200, 200, 1) 0px 0px 9px, rgba(200, 200, 200, 1) 0px 0px 9px, rgba(200, 200, 200, 1) 0px 0px 9px, rgba(200, 200, 200, 1) 0px 0px 9px, rgba(200, 200, 200, 1) 0px 0px 9px, rgba(200, 200, 200, 1) 0px 0px 9px;
}

.linkColor {
    color: rgb(7, 1, 51);
}

.linkColor2 {
    color: #FFF;
}

#navTop a:hover {
    color: #FFF;
}

.navBars {
    position: absolute;
    right: 5%;
    top: 25%;
    color: #FFF;
    font-size: 30px;
    display: none;
}


/*部в[Y束*/

.imgTemp {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 100%;
}

img {
    max-width: 100%;
}


/*首面*/

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(1, 22, 51)), to(rgb(0, 0, 0)));
    background: linear-gradient(to top, rgb(1, 22, 51), rgb(0, 0, 0));
}

.homeMain {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    text-align: center;
}

.myNameText h1 {
    font-size: 26px;
    margin: 10px 0 5px 0;
}

.myNameText h2 {
    font-size: 22px;
}

.myNameText h1,
.myNameText h2 {
    letter-spacing: 1px;
    height: 26px;
    font-weight: bolder;
    background: linear-gradient(-4deg, rgb(255,255,255) 40%, rgb(111,132,161) 50%,rgb(255,255,255) 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.myimg {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 100%;
    overflow: hidden;
}

.homeJump {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.homeJump a {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #FFF;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.jumpImg,
.jumpImg::before,
.jumpImg::after {
    width: 12px;
    height: 12px;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    margin: 0 auto;
    -webkit-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
}

.jumpImg {
    -webkit-animation: aniJumpImg 1s infinite linear alternate;
    animation: aniJumpImg 1s infinite linear alternate;
}


/*得先D回正 座溯S回後 才可以{整移由舷*/

.jumpImg::before,
.jumpImg::after {
    content: "";
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.jumpImg::after {
    -webkit-transform: rotate(-45deg) translateY(5px) rotate(45deg);
    transform: rotate(-45deg) translateY(5px) rotate(45deg);
}


/*卧素本身就跟著本w一起移*/

@-webkit-keyframes aniJumpImg {
    30% {
        opacity: 1;
    }
    50% {
        width: 18px;
        height: 18px;
    }
    100% {
        width: 12px;
        height: 12px;
        -webkit-transform: translateY(25px) rotate(45deg);
        transform: translateY(25px) rotate(45deg);
        opacity: 0.5;
    }
}

@keyframes aniJumpImg {
    30% {
        opacity: 1;
    }
    50% {
        width: 18px;
        height: 18px;
    }
    100% {
        width: 12px;
        height: 12px;
        -webkit-transform: translateY(25px) rotate(45deg);
        transform: translateY(25px) rotate(45deg);
        opacity: 0.5;
    }
}


/*首面Y束*/


/*人面_始*/

#personal {
    position: relative;
}

.personalHead {
    margin: 100px 0 100px 0;
}

#personal p {
    font-size: 2.2rem;
    padding: 0 20%;
}

#personal .bling {
    position: absolute;
    z-index: -1;
    background: #FFF;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border: 1px solid #FFF;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0 0px 0px #FFF;
    box-shadow: 0px 0 0px 0px #FFF;
    -webkit-transition: 20s all;
    transition: 20s all;
}


/*人面Y束*/


/*作品面_始*/

#portfolio,
#contact {
    padding: 50px 0 100px 0;
    color: rgb(1, 22, 51);
    text-align: center;
    background: url(../images/paper-1126172_960_720.jpg) no-repeat;
    background-size: cover;
}

.portfolioHead,
.skillHead,
.contactHead {
    margin: 50px 0 100px 0;
}

.portfolioHead h1,
.contactHead h1,
#skills h1,
#personal h1 {
    font-size: 4.5rem;
}

.portTable {
    margin: 0 auto;
    width: 75%;
    display: table;
    table-layout: fixed;
    font-size: 0;
}

.portbox {
    display: table-cell;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}


.portImgWrap {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.opacEffect {
    opacity: 0.4;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.portbox h1,
.portbox a {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.portbox h1 {
    -webkit-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    font-size: 2rem;
    z-index: 1;
}

.portbox a {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    font-size: 1.6rem;
    display: block;
    text-decoration: none;
    width: 100px;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 0;
    border: 2px solid rgba(155, 155, 155, 0.8);
    border-radius: 8px;
}

.scaleHover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*作品面Y束*/


/*技能面_始*/

#skills,
#personal {
    text-align: center;
    color: rgb(200, 200, 200);
    padding: 50px 0 100px 0;
}

#skills h2 {
    font-size: 2.2rem;
}

#skills img {
    max-width: 20px;
    vertical-align: middle;
}

#skills span {
    vertical-align: middle;
    margin-left: 8px;
}

.skillSquare {
    display: inline-block;
    background: rgba(102, 102, 102, 0.5);
    width: 60%;
    height: 30px;
    margin-bottom: 15px;
}

.score-bar {
    background: rgba(102, 102, 102, 1);
    width: 0px;
    height: 30px;
}

#skills p {
    margin: 40px 0;
    font-size: 1.8rem;
}

.scrollFadeIn {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: 2.5s all;
    transition: 2.5s all;
}

.scrollFadeIn2 {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


/*技能面Y束*/


/*j面_始*/

#contact {
    position: relative;
}

.fs_embed {
    height: 600px;
    width: 50%;
    margin: 0 auto;
    border: none;
    opacity: 0.7;
}

footer {
    font-size: 1.6rem;
    color: rgb(200, 200, 200);
    text-align: center;
    padding: 50px 0;
}

footer a {
    color: rgb(200, 200, 200);
}


/*j面Y束*/


/*RWD*/

@media (max-width: 800px) {
    html {
        font-size: 40%;
    }

    #navTop .navHome {
        font-size: 30px;
    }

    #navTop {
        font-size: 20px;
    }
    .navTopList {
        right: 0;
        top: 60px;
        display: none;
    }
    .navTopList ul li {
        width: 100vw;
        background: rgba(0, 0, 0, 0.1);
    }
    .navBars {
        display: block;
    }
    #navTop a:not(#linkHome) {
        padding: 8px 0 8px 14%;
    }
    #personal,
    #portfolio,
    #skills,
    #contact {
        padding: 25px 0 50px 0;
    }
    .personalHead {
        margin: 50px 0 25px 0;
    }
    .portfolioHead,
    .skillHead,
    .contactHead {
        margin: 0px 0 25px 0;
    }

    .portTable {
        width: 90%;
        display: block;
    }
    .portbox {
        width: 100%;
        height: 150px;
        display: block;
    }
    .opacEffect {
        opacity: 0.7;
    }
    .rwdRemove {
        display: none;
    }
    .portbox img {
        width: 100%;
    }
    .portbox .opacEffect {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    .portbox h1,
    .portbox a {
        top: 70px;
        width: 70%;
    }


    .skillSquare {
        width: 90%;
    }

    .fs_embed {
        width: 90%;
    }
}


/*RWD*/

#test {
	background: green;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}